{% extends 'base.html' %}

{% block title %}
Adding the test page
{% endblock %}


{% block content %}
    <h1>Add a new Test</h1>
    <form action="/add_test" method="POST">
        <label for="title">Test Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="max_questions">Max Questions:</label>
        <input type="number" id="max_questions" name="max_questions" required><br><br>

        <label for="teacher_index">Select Teacher:</label>
        <select id="teacher_index" name="teacher_index" required>
            {% for teacher in teachers %}
                <option value="{{ loop.index0 }}">{{ teacher.name }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Add test">
    </form>
{% endblock %}