
{% extends 'base.html' %}

{% block title %}
Студенты
{% endblock %}


{% block content %}
    <h1>Добавить студента</h1>
    <form action="/students" method="POST" class="adding" autocomplete="off">
        <label for="name">Имя студента:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <input type="submit" value="Добавить">
    </form>

    <h1>Студенты:</h1>
    <div>
    {% for student in students %}
        <div class = "list_element">
            {{ student.name }}
            <details> 
            <summary>Результаты тестов</summary>

            <span>
            {% for test_results in student.test_results %}

                <li>{{ test_results }}</li>

            {% endfor %}
            </span>

            </details>

            <details> 
                <summary>Оценки студента</summary>
    
                <span>
                {% for mark in student.marks %}
    
                    <li>{{ mark }}</li>
    
                {% endfor %}
                </span>
    
                </details>
            <form class = 'deletion' action="/students/{{ loop.index0 }}/delete" method="POST">
            <input type="submit" value="Удалить">
            </form>
        </div>
    {% endfor %}
    </div>
{% endblock %}