{% extends 'base.html' %}

{% block title %}
Учителя
{% endblock %}


{% block content %}
    <h1>Добавить нового учителя</h1>
    <form action="/teachers" method="POST" class="adding" autocomplete="off">
        <label for="name">Имя учителя:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="subj">Преподаваемый предмет:</label>
        <input name = 'subj' id='subj' required><br><br>

        <input type="submit" value="Добавить">
    </form>
    
    <h1>Учителя:</h1>

    {% for teacher in teachers %}
        <div class="list_element">
        {{teacher.name}}. По предмету: {{teacher.subj}}
        <form class = 'deletion' action="/teachers/{{ loop.index0 }}/delete" method="POST" style="display:inline;">
            <input type="submit" value="Удалить">
        </form>
        </div>
    {% endfor %}

{% endblock %}